p { text-align: center;}
button {text-align: center;}
h2{color:darkcyan; text-align: center;font-size:xx-large;}
h3{color:darkcyan; text-align: center;font-size:xx-large;}
a{color:indianred; font-size: medium; text-align: center;}
h1{color:rebeccapurple;font-size:xx-large; text-align: center;}
h4{color:rgb(31, 6, 80); text-align: center; font-size: medium;}
